*{
    margin: 0;
    padding: 0;
    font-family: "Catamaran", sans-serif;
}
/* $blackbg:#0b0c0d; */
/* $graybg:#25292c; */
/* $hcolor:#ffffff; */
/* $pcolor:#e2e5e9; */
/* $green:#00d563; */
.wallpaper{
    background-image: url('./media/background.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

}
a{
    font-weight: 600;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    z-index: 1;
    margin: 25px;
}
.hbtn{
    display: flex;
}
.btn{
    display: flex;
    height: 76px;
    align-items: center;
    
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 76px;
    background-color: black;
}
.custom-btn {
    font-weight: 600;
    padding: 10px 30px;
    height: 46px;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
}
.custom-btn:hover {
    background-color: #00d563;
    transition: all 0.3s ease;
    border: 1px solid #00d563;
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    top: 11%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropbtn {
    margin: 25px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    font-weight: 600;
  } 
  .dropdown {
    display: flex;
    height: 76px;
    align-items: center;
  }
  .dropdown-content a:hover {
    background-color: #00d563;
    color: black;
}

  .dropdown:hover .dropdown-content {display: block;}

  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */